#rounded {
  width: 100vw;
  height: 1.5em;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#container {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

ion-card {
  border-radius: 10px !important;
}
